<% if (!has_config('comment.appid') || !has_config('comment.conf')) { %>
<% } else { %>
<div id="SOHUCS" sid="<%= post.path %>"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
    appid: '<%= get_config('comment.appid') %>',
    conf: '<%= get_config('comment.conf') %>'
});
</script>
<% } %>