<% if (!has_config('comment.uid')) { %>
<% } else { %>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= get_config('comment.uid') %>"></script>
<div id="uyan_frame"></div>
<% } %>